body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    font-family: 'Montserrat', sans-serif;
    position: relative; 
}

h1 {
    position: absolute;
    top: calc(50% + 65px);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ADFF2F;
    color: #151515;
    font-weight: bold;
    white-space: nowrap;
    text-align: center; 
    font-size: 2.25em;
    padding: 20px;
    margin: 0;
    border-radius: 25px;
    width: 47%;
}

.top-left,
.top-right {
    position: absolute;
    z-index: 1000;
    background: none;
    border: none;
    padding: 0;
}

.top-left {
    top: calc(50% + 33px);
    left: 26%;
}

.top-right {
    top: calc(50% + 33px);
    right: 26%;
}

.small-img {
    width: 75%;
    height: auto;
}
form {
    position: absolute;
    top: calc(50% + 500px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    font-size: 1.25em;
    background-color: #ADFF2F;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 700px;
    margin: 20px auto;
}
.container {
    width: 80%;
    margin: 0 auto;
}
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: #ADFF2F;
    background-color: #151515;
    border: 1px solid #ADFF2F;
    border-radius: 30px;
    box-sizing: border-box;
}
textarea {
    height: 150px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"] {
    background-color: #151515;
    color: #ADFF2F;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.back-button {
    position: absolute;
    top: calc(50% + 425px);
    left: calc(50% - 850px); 
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: #ADFF2F;
    color: #151515;
    text-decoration: none;
    cursor: pointer;
}