body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    font-family: 'Montserrat', sans-serif;
    position: relative; 
}

h1 {
    position: absolute;
    top: calc(50% + 65px);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ADFF2F;
    color: #151515;
    font-weight: bold;
    white-space: nowrap;
    text-align: center; 
    font-size: 2.25em;
    padding: 20px;
    margin: 0;
    border-radius: 25px;
    width: 47%;
}

.top-left,
.top-right {
    position: absolute;
    z-index: 1000;
    background: none;
    border: none;
    padding: 0;
}

.top-left {
    top: calc(50% + 33px);
    left: 26%;
}

.top-right {
    top: calc(50% + 33px);
    right: 26%;
}

.small-img {
    width: 75%;
    height: auto;
}

form {
    position: absolute;
    top: calc(50% + 350px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    font-size: 1.25em;
    background-color: #ADFF2F;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 20px auto;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #151515;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #151515 inset !important;
    caret-color: 151515;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    color: #ADFF2F;
    background-color: #151515;
    border: 1px solid #ADFF2F;
    border-radius: 15px;
}

input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    color: #ADFF2F;
    background-color: #151515;
    border: 1px solid #ADFF2F;
    border-radius: 15px;
}

input[type="submit"] {
    background-color: #151515;
    color: #ADFF2F;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

p {
    margin-top: 10px;
    color: #151515;
}
a {
    text-decoration: none;
    color: #151515;
    font-weight: bold;
}
a:hover {
    color: #252525;
}

.buttonYan {
    position: absolute;
    top: calc(50% + 615px);
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 100px;
    background-color: #151515;
    color: #ADFF2F;
    border: none;
    border-radius: 22px;
    border: 2px solid #ADFF2F;
    font-size: medium;
    cursor: pointer;
    overflow: hidden;
}

.buttonYan::before {
    content: ''; 
    width: 40px;
    height: 100%; 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center left;
}