<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
</head>
<body>
    <h1>ВХОД</h1>

    <button type="submit" class="top-left">
        <img src="{{ url_for('static', filename='img/button_logo.png') }}" alt="Кнопка с изображением" class="small-img">
    </button>

    <button type="submit" class="top-right">
        <img src="{{ url_for('static', filename='img/button_logo.png') }}" alt="Кнопка с изображением" class="small-img">
    </button>

    <form method="POST" action="/login" class="show">
        <label for="username">Имя пользователя:</label>
        <input type="text" name="username" required><br><br>
        <label for="password">Пароль:</label>
        <input type="password" name="password" required><br><br>
        <input type="submit" value="Войти">
        <p>Еще не зарегистрированы? <a href="{{ url_for('register') }}">Зарегистрироваться</a></p>
    </form>
</body>
</html>
