<!DOCTYPE html>
<html>
<head>
    <title>BRAINBYTE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_person_panel.css') }}">
</head>
<body>
    <h1>BRAINBYTE</h1>

    <!-- Кнопки в верхнем левом и правом углах -->
    <button type="submit" class="top-left">
        <img src="{{ url_for('static', filename='img/button_logo.png') }}" alt="Кнопка с изображением" class="small-img">
    </button>

    <form action="{{ url_for('profile') }}" method="GET">
        <button type="submit" class="top-right">
            <img src="{{ url_for('static', filename='img/button_profile.png') }}" alt="Кнопка с изображением" class="small-img">
        </button>
    </form>

    <h2>ПРОВЕРЬ СЕБЯ</h2>

    <div class="button-container">
      <div class="button-column">
          <div class="button-test-wrapper">
              <form action="{{ url_for('test_easy') }}" method="GET">
                  <button type="submit" class="button_test">
                      <img src="{{ url_for('static', filename='img/button_easy.png') }}" alt="Кнопка с изображением" class="button_img1">
                  </button>
              </form>
          </div>
          <div class="button-test-wrapper">
              <form action="{{ url_for('test_normal') }}" method="GET">
                  <button type="submit" class="button_test">
                      <img src="{{ url_for('static', filename='img/button_normal.png') }}" alt="Кнопка с изображением" class="button_img2">
                  </button>
              </form>
          </div>
          <div class="button-test-wrapper">
              <form action="{{ url_for('test_hard') }}" method="GET">
                  <button type="submit" class="button_test">
                      <img src="{{ url_for('static', filename='img/button_hard.png') }}" alt="Кнопка с изображением" class="button_img3">
                  </button>
              </form>
          </div>
          <div class="button-test-wrapper">
              <form action="{{ url_for('test_very_hard') }}" method="GET">
                  <button type="submit" class="button_test">
                      <img src="{{ url_for('static', filename='img/button_very_hard.png') }}" alt="Кнопка с изображением" class="button_img4">
                  </button>
              </form>
          </div>
      </div>
  </div>
    
    <!-- Календарь -->
    <div class="calendar">
        <header>
            <h3></h3>
            <nav>
                <button id="prev"></button>
                <button id="next"></button>
            </nav>
        </header>
        <section>
            <ul class="days">
                <li>П</li>
                <li>В</li>
                <li>С</li>
                <li>Ч</li>
                <li>П</li>
                <li>С</li>
                <li>В</li>
            </ul>
            <ul class="dates"></ul>
        </section>
    </div>
    <script src="{{ url_for('static', filename='js_scripts/script_calendar.js') }}"></script>
    <div id="canvas-container">
        <canvas id="canvas"></canvas>
    </div>
    <script>
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var W = 500; 
        var H = 422; 

        canvas.width = W;
        canvas.height = H;

        var fontSize = 16;
        var columns = Math.floor(W / fontSize);
        var drops = [];
        for(var i=0; i<columns; i++){
            drops.push(0);
        }
        var str = "JavaScript Hacking Effect";
        function draw(){
            context.fillStyle = "rgba(21,21,21,0.35)";
            context.fillRect(0, 0, W, H);
            context.fontSize = "700 " + fontSize + "px";
            context.fillStyle = "#ADFF2F";
            for(var i=0; i<columns; i++){
                var index = Math.floor(Math.random()*str.length);
                var x = i * fontSize;
                var y = drops[i] * fontSize;
                context.fillText(str[index], x, y);
                if(y >= canvas.height && Math.random() > 0.99){
                    drops[i] = 0;
                }
                drops[i]++;
            }
        }
        draw();
        setInterval(draw, 35);
    </script>
</body>
</html>
