<!DOCTYPE html>
<html>
<head>
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_profile.css') }}">
</head>
<body>
    <h1>Профиль пользователя</h1>

    <button type="submit" class="top-left">
        <img src="{{ url_for('static', filename='img/button_logo.png') }}" alt="Кнопка с изображением" class="small-img">
    </button>

    <button type="submit" class="top-right">
        <img src="{{ url_for('static', filename='img/button_logo.png') }}" alt="Кнопка с изображением" class="small-img">
    </button>

    <div class="profile-info">
        <img src="{{ url_for('static', filename='avatars/' + username + '.jpg') }}" alt="Аватарка" width="150">
        <form action="/upload_avatar" method="post" enctype="multipart/form-data" class="upload-form">
            <input type="file" name="avatar" id="avatar">
            <label for="avatar">Выбрать файл</label>
            <button type="submit" class="upload-button">Загрузить аватарку</button>
        </form>
        <p><strong>Имя пользователя:</strong> {{ username }}</p>
        <p><strong>Адрес электронной почты:</strong> {{ email }}</p>
    </div>

    <div class="button-container">
        <a href="/person_panel" class="person_panel-button">Вернуться к задачам</a>
        <a href="/login" class="logout-button">Выход из аккаунта</a>
    </div>
</body>
</html>
