<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BRAINBYTE: примеры среднего уровня</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_test_hard.css') }}">
</head>
<body>
    <h1>Сложный уровень</h1>

    <button type="submit" class="top-left">
        <img src="{{ url_for('static', filename='img/button_logo.png') }}" alt="Кнопка с изображением" class="small-img">
    </button>

    <button type="submit" class="top-right">
        <img src="{{ url_for('static', filename='img/button_logo.png') }}" alt="Кнопка с изображением" class="small-img">
    </button>

    <p>Осталось попыток: {{ attempts }}</p>
    <form action="/submit_hard" method="post">
        <label>{{ example[0] }}</label>
        <input type="text" name="answer" required>
        <button onclick="refreshPage()">Новый пример</button>
        <button type="submit">Отправить ответ</button>
    </form>

    <script>
        function refreshPage() {
            location.reload();
        }
    </script>
</body>
</html>
